.navigation {
  width: 1040px;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    box-sizing: border-box;
    border-right: 1px solid #000000;

    &:nth-of-type(1) {
      letter-spacing: 0.4px;
    }

    &:nth-of-type(3) {
      letter-spacing: 0.6px;
      padding-left: 2px;
    }

    &:nth-of-type(4) {
      letter-spacing: 0.6px;
    }

    &:last-of-type {
      border-right: none;
      letter-spacing: 0.5px;
    }
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 62px;
    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: line-through;
    }

    .navigation__item:last-child & {
      color: #9F4A19;
      background-color: #f1eafb;
    }
  }

  .navigation__item:nth-of-type(4) .navigation__link {
    box-sizing: border-box;
    padding-bottom: 12px;
    padding-right:  2px;
  }
}
