.promo {
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  width: 100%;
  min-width: 1440px;
  height: 652px;
  margin: 0 auto;

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width: 1440px;
    height: 652px;
    padding: 0 35px 0 35px;
    margin: 0 auto;
    border-top: 1px solid transparent;
  }

  &__info {
    width: 500px;
  }

  &__title {
    margin: 92px 0 31px 0;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
  }

  &__text {
    width: 412px;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.82px;
  }

  &__link-start {
    @include button;
    margin-bottom: 12px;
    background-color: #f1eafb;

    &:hover {
      background-color: #9f4a19;
      color: #ffffff;
    }

    &:active {
      background-color: #f1eafb;
      color: #9f4a19;
    }
  }

  &__link-demo {
    @include button;
    margin-bottom: 12px;
    background-color: #ffffff;

    &:hover {
      background-color: #9f4a19;
      color: #ffffff;
    }

    &:active {
      background-color: #ffffff;
      color: #9f4a19;
    }
  }

  &__agencies {
    width: 262px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.48px;
    color: #808080;
    text-align: center;
    text-transform: capitalize;
  }

  &__agencies-link {
    color: #808080;
    cursor: pointer;

    &:hover {
      color: #000000;
    }
  }

  &__illustration {
    position: relative;
    width: 870px;
  }

  &__picture {
    &:nth-child(1) {
      position: absolute;
      right: 134px;
      bottom: 128px;
      background-color: #43603e;
    }

    &:nth-child(2) {
      position: absolute;
      right: 323px;
      bottom: 64px;
      background-color: #83442d;
    }

    &:nth-child(3) {
      position: absolute;
      right: 426px;
      bottom: 216px;
      background-color: #a5968e;
    }

    &:nth-child(4) {
      position: absolute;
      right: 384px;
      bottom: 336px;
      background-color: #49647d;
    }
  }

  &__video {
    box-sizing: border-box;
    position: absolute;
    right: 110px;
    bottom: 340px;
    background-image: url("../../media/dest/promo/illustration-5.jpg");
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1.5px solid #f9f7f3;
  }

  &__description {
    position: absolute;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:nth-of-type(1) {
      width: 81px;
      right: 110px;
      bottom: 64px;
      text-align: center;

      &::before {
        content: url("../../media/dest/promo/arrow-1.png");
        position: absolute;
        top: -35px;
        left: -95px;
        width: 84px;
        height: 98px;
        z-index: -1;
      }
    }

    &:nth-of-type(2) {
      width: 63px;
      right: 551px;
      bottom: 96px;
      text-align: right;

      &::before {
        content: url("../../media/dest/promo/arrow-2.png");
        position: absolute;
        top: -90px;
        left: 15px;
        width: 84px;
        height: 98px;
      }
    }

    &:nth-of-type(3) {
      width: 90px;
      right: 592px;
      bottom: 420px;
      text-align: center;

      &::before {
        content: url("../../media/dest/promo/arrow-3.png");
        position: absolute;
        top: 60px;
        left: -5px;
        width: 84px;
        height: 98px;
      }
    }

    &:nth-of-type(4) {
      width: 90px;
      right: 274px;
      bottom: 415px;
      text-align: center;

      &::before {
        content: url("../../media/dest/promo/arrow-4.png");
        position: absolute;
        top: -110px;
        left: 0;
        width: 84px;
        height: 98px;
      }
    }

    &:nth-of-type(5) {
      width: 108px;
      right: 90px;
      bottom: 586px;
      text-align: center;

      &::before {
        content: url("../../media/dest/promo/arrow-5.png");
        position: absolute;
        top: 55px;
        left: -40px;
        width: 84px;
        height: 98px;
      }
    }
  }
}
